<% include header %>

	<h2>Add New Game.</h2>
	
	<form method="post" role="form">
		<div class="form-group">
			<label for="title">Name of Game.</label>
			<input 
				type="text" 
				class="form-control" 
				id="title" 
				name="title" 
				placeholder="Enter Name of Game Here" 
				required
			>
		</div>
		
		<div class="form-group">
			<label for="content">Description of Game.</label>
			<textarea 
				class="form-control" 
				id="body" 
				name="body" 
				placeholder="Add the Game Description Here." 
				rows="3" required>			
			</textarea>
		</div>
		
		<div class="form-group">		
			<input 
				type="submit" 
				value="Post Game" 
				class="btn bnt-primary"
			>
		</div>
	
	</form>
	
<% include footer %>


